<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/css/styly.css"
          th:href="${'css/styly.css'}"/>
    <link rel="icon" href="../static/images/favicon.png"
          th:href="${'images/favicon.png'}"/>
    <title>Kartičky</title>
</head>
<body>

    <h1>Pexeso</h1>

    <div class="karticky">

        <!--/*@thymesVar id="karticky" type="java.util.List<java.lang.String>"*/-->
        <span th:each="karticka : ${karticky}"> <img th:src="${karticka}"></img> </span>
    </div>
</body>
</html>